<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link rel='stylesheet' href='/css/app.css'/>
    <link rel='stylesheet' href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css'/>
  </head>
  <body>
    <header style="background: antiquewhite;">
      <h4><%-blocks.header%></h4>
    </header>
    <section style="background: bisque;">
      <h4><%-blocks.container%></h4>
      <h4><%-body%></h4>
    </section>
    <footer style="background: beige;">
      <h4><%-blocks.footer%></h4>
    </footer>

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
